<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>[[${tituloPagina}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script type="text/javascript">

            // Limitar las fechas de nacimiento
            $(function() {
                $("#datepicker").datepicker({
                    maxDate: new Date('2004-1-1'),
                    minDate: new Date('1980-1-1')
                });
            });

            // Carácteres ASCII (números) permitidos
            function soloNumeros(evt) {
                var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                    return false;
                return true;
            }

            // Botón para cancelar edición
            $(document).ready(function(){
                $("#buttonCancel").on("click", function(){
                    window.location = "[[@{/menu_entrenador}]]"
                });
            });
        </script>
</head>

<body>

<!-- Barra navegación -->
<div th:insert="navbar :: navbar">  </div>


<!-- Contenido -->
<div class="container-fluid">
    <div class="text-center">
        <h1>[[${tituloPagina}]]</h1>
    </div>

    <!-- Forma -->
    <div class="container py-3 bg-warning" >
        <div class="row">
            <div class="col-md-10 mx-auto">
                <form action="#" style="margin: 0 auto"
                      th:action="@{/menu_juez/calificar/guardar}" method="post"
                      th:object="${calificacion}">

                    <!-- 1era fila de la forma -->
                    <div class="form-group row">
                        <!-- Calificacion -->
                        <div class="col-sm-6">
                            <label for="ingresaCalificiacion">Calificación:</label>
                            <input type="text" class="form-control" id="ingresaCalificiacion"
                                   name="calificacion"
                                   th:field="*{calificacion}"
                                   onkeypress="return soloNumeros(event)"
                                   minlength="2" maxlength="45" required>
                        </div>

                        <!-- Comentario -->
                        <div class="col-sm-6">
                            <label for="ingresaComentario">Comentario</label>
                            <input type="text" class="form-control" th:field="*{comentario}" name="comentario" id="ingresaComentario" required>
                        </div>

                        <!-- Los atributos del modelo ($) las asignamos al DTO que se devuelve (*) -->
                        <input  type        =   "hidden"
                                th:field     ="*{idcompetidor}"
                                name        =   "idcompetidor"/>
                        <input  type        =   "hidden"
                                th:field     ="*{idjuez}"
                                name        =   "idjuez"/>
                    </div>

                    <!-- Mensaje de error -->
                    <div th:if="${mensaje != null}" class="alert alert-dark text-center">
                        [[${mensaje}]]
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Agregar" class="btn btn-primary m-3">
                        <input type="submit" value="Cancelar" class="btn btn-secondary" id="buttonCancel">
                        <!-- <input type="submit" value="Cancelar" class="btn btn-secondary" formnovalidate> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div th:insert="footer :: footer">  </div>
</div>

</body>

</html>