<!-- Barra navegación -->
<div th:insert="navbar :: navbar">  </div>

<!-- Contenido -->
<div class="container-fluid">

    <!-- Lista de comentarios -->
    <div class="container-fluid">
        <div class="row mt-4 mb-2 ml-1 mr-1" style="display: flex; justify-content: space-between;">
            <h2>Calificaciones personales</h2>
            <a class="btn btn-warning" th:href="@{/menu_competidor}" style="margin-top : 5px">Comentarios</a>
            <a class="btn btn-warning" th:href="@{/menu_competidor/posiciones}" style="margin-top : 5px">Tabla de posiciones</a>
        </div>

        <!-- Lista de comentarios -->
        <div>
            <table class="table table-bordered table-striped table-hover table-resposive-xl">
                <thead class="thead-dark">
                <tr>
                    <th style="text-align:center; vertical-align: middle">Juez</th>
                    <th style="text-align:center; vertical-align: middle">Disciplina</th>
                    <th style="text-align:center; vertical-align: middle">Competidor</th>
                    <th style="text-align:center; vertical-align: middle">Calificacion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="calificacion : ${calificacion}">
                    <td th:text="${calificacion.idjuez}"></td>
                    <td th:text="${calificacion.iddisciplina}"></td>
                    <td th:text="${calificacion.idcompetidor}"></td>
                    <td th:text="${calificacion.calificacion}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="footer :: footer">  </div>
</div>
</body>
</html>