<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Inicio - Olimpiadas Universitarias</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- Barra navegación -->
<div th:insert="navbar :: navbar">  </div>

<!-- Contenido -->
<div class="container-fluid">


  <div class="row mt-4 mb-2 ml-1 mr-1" style="display: flex; justify-content: space-between;">
    <h2>Calificar competidores</h2>
  </div>
  <!-- Mensaje de éxito -->
  <div th:if="${mensaje != null}" class="alert alert-success text-center">
    [[${mensaje}]]
  </div>


  <!-- Lista de competidores -->
  <div>
    <table class="table table-bordered table-striped table-hover table-resposive-xl">
      <thead class="thead-dark">
      <tr>
        <th style="text-align:center; vertical-align: middle">Nombre</th>
        <th style="text-align:center; vertical-align: middle">Apellido Paterno</th>
        <th style="text-align:center; vertical-align: middle">Apellido Materno</th>
        <th style="text-align:center; vertical-align: middle">Sexo</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="competidor : ${competidores}">
        <td th:text="${competidor.nombre}"></td>
        <td th:text="${competidor.apellidop}"></td>
        <td th:text="${competidor.apellidom}"></td>
        <td th:text="${competidor.sexo > 0 ? 'Femenino' : 'Masculino'}"></td>
        <td>
          <a class="fas fa-trash-can fa-2x link-eliminar" style="color: #A52A2A"
             th:href = "@{'/menu_juez/calificar/' + ${competidor.idcompetidor}}">Calificar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal: pop-up para confirmar si se elimina al competidor -->
  <div class="modal fade text-center" id="confirmarModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmación para eliminar</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <span id="confirmarTexto"></span>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" href="" id="confirmarSi">Confirmar</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
<!-- Footer -->
<div th:insert="footer :: footer">  </div>
</div>
</body>
</html>