<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Menú Administrador - Olimpiadas Universitarias</title>
        <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"> 
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"> 
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    
    <body>

        <!-- Barra navegación -->
        <nav th:fragment="navbar" class="navbar navbar-expand" style="background-color: #042244">
            
            <!-- Logo -->
            <a class="navbar-brand" th:href="@{/}">
                <!-- Logo horizontal (una línea) -->
                <img th:src="@{/images/logo_horizontal_inv_1.svg}" style="width:150%; height:150%">
                <!-- Logo horizontal (dos líneas) -->
                <!-- <img th:src="@{/images/logo_horizontal_inv_2.svg}" style="width:100%; height:100%"> -->
            </a>

            <!-- Botón que colapsa los links en dispositivo movil -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links superiores -->
            <div class="collapse navbar-collapse justify-content-end" >
                
                <ul class="navbar-nav">
                    
                    <!-- Log in / Log out -->
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="btn btn-outline-light" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" sec:authentication="name">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="pl-3"  th:href="@{/logout}">Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
            
        </nav>

        <!-- Contenido -->
        <div class="container-fluid">
            <h1 class="titulo-centro">Administrar</h1>
            
            <div id="central">
                <div class="row no-gutters">
                    <a th:href="@{/disciplinas}" class="col-sm texto-centro opcion_admin">
                        <h3>Disciplinas</h3>
                        <img th:src="@{/images/icono_disciplinas.svg}">
                        <img th:src="@{/images/icono_disciplinas_oro.svg}" class="img-arriba">
                    </a>
                    <a th:href="@{/jueces}" class="col-sm texto-centro opcion_admin">
                        <h3>Jueces</h3>
                        <img th:src="@{/images/icono_jueces.svg}">
                        <img th:src="@{/images/icono_jueces_oro.svg}" class="img-arriba">
                    </a>
                </div>
                <div class="row no-gutters">
                    <a th:href="@{/competidores}" class="col-sm texto-centro opcion_admin">
                        <h3>Competidores</h3>
                        <img th:src="@{/images/icono_competidores.svg}">
                        <img th:src="@{/images/icono_competidores_oro.svg}" class="img-arriba">
                    </a>
                    <a th:href="@{/entrenadores}" class="col-sm texto-centro opcion_admin">
                        <h3>Entrenadores</h3>
                        <img th:src="@{/images/icono_entrenadores.svg}">
                        <img th:src="@{/images/icono_entrenadores_oro.svg}" class="img-arriba">
                    </a>
                </div>
            </div>

            <!-- Footer -->
            <div th:insert="footer :: footer">  </div>
        </div>

    </body>

</html>