<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Inicio - Olimpiadas Universitarias</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"> 
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"> 
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- Barra navegación -->
<div th:insert="navbar :: navbar">  </div>

<!-- Contenido -->
<div class="container-fluid">

    <!-- Lista de comentarios -->
    <div class="container-fluid">
        <div class="titulo-crud row mt-4 mb-2 ml-1 mr-1">
            <h2>Comentarios</h2>
            <div id="btn-crud">
                <a class="btn btn-info" 
                    th:href="@{/competidor/mis_calificaciones}">
                    Mis calificaciones</a>
                <a class="btn btn-warning" 
                    th:href="@{/competidor/posiciones}">
                    Tabla de posiciones</a>
            </div>
        </div>

        <!-- Lista de comentarios -->
        <div>
            <table class="table table-bordered table-striped table-hover table-resposive-xl">
                <thead class="thead-dark">
                <tr>
                    <th>Juez</th>
                    <th>Comentario</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="calificacion : ${comentarios}">
                    <td th:text="${calificacion.juez.nombre} + ' ' + ${calificacion.juez.apellidop} + ' ' + ${calificacion.juez.apellidom}"></td>
                    <td th:text="${calificacion.comentario}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="footer :: footer">  </div>
</div>
</body>
</html>