<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Inicio - Olimpiadas Universitarias</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- Barra navegación -->
<div th:insert="navbar :: navbar">  </div>

<!-- Contenido -->
<div class="container-fluid">

    <!-- Lista de comentarios -->
    <div class="container-fluid">
        <div class="row mt-4 mb-2 ml-1 mr-1" style="display: flex; justify-content: space-between;">
            <h2>Tabla de posiciones</h2>
            <a class="btn btn-warning" th:href="@{/menu_competidor/calificacion_perso}" style="margin-top : 5px">Consultar calificaciones personales</a>
            <a class="btn btn-warning" th:href="@{/menu_competidor}" style="margin-top : 5px">Comentarios</a>
        </div>

        <!-- Lista de comentarios -->
        <div>
            <table class="table table-bordered table-striped table-hover table-resposive-xl">
                <thead class="thead-dark">
                <tr>
                    <th style="text-align:center; vertical-align: middle">Competidor</th>
                    <th style="text-align:center; vertical-align: middle">Escuela</th>
                    <th style="text-align:center; vertical-align: middle">Sexo</th>
                    <th style="text-align:center; vertical-align: middle">Calificacion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="posicion : ${posiciones}">
                    <td th:text="${calificacion.competidor.nombre} + ' ' + ${calificacion.competidor.apellidop} + ' ' + ${calificacion.competidor.apellidom}"></td>
                    <td th:text="${calificacion.competidor.escuela}"></td>
                    <td th:text="${calificacion.competidor.sexo}"></td>
                    <td th:text="${calificacion.calificacion}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <div th:insert="footer :: footer">  </div>
</div>
</body>
</html>