<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>[[${tituloPagina}]]</title>
        <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}"> 
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"> 
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/templates/styles.css">
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script type="text/javascript">
            // Botón para cancelar edición
            $(document).ready(function(){
                $("#buttonCancel").on("click", function(){
                    window.location = "[[@{/jueces}]]"
                });
            });
        </script>
    </head>

    <body>

    <!-- Barra navegación -->
    <div th:insert="navbar :: navbar">  </div>


        <!-- Contenido -->
        <div class="container-fluid">
            <div class="text-center">
                <h1>[[${tituloPagina}]]</h1>
            </div>
            
            <!-- Forma -->
            <div class="container py-3 bg-warning" >
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <form action="#" style="margin: 0 auto"
                                th:action="@{/juez/guardar}" method="post" 
                                th:object="${juez}">

                            <!-- 1era fila de la forma -->
                            <div class="form-group row">

                                <!-- Nombre -->
                                <div class="col-sm-6">
                                    <label for="ingresaNombre">Nombre:</label>
                                    <input type="text" class="form-control" th:field="*{nombre}" id="ingresaNombre" 
                                            minlength="2" maxlength="45" required>
                                </div>

                                <!-- Disciplina -->
                                <div class="col-sm-6">
                                    <label for="ingresaDisciplina">Disciplina:</label>
                                    <div id="ingresaDisciplina">
                                        <select class="form-control selectpicker" th:field="*{disciplina}" required>
                                            <option value="">Elige disciplina</option>
                                            <option th:each="d : ${disciplinas}"
                                                    th:value="${d.iddisciplina}"
                                                    th:text ="${d.nombre}">d
                                            </option>
                    
                                        </select>
                                    </div>
                                </div>

                                <!-- Los atributos del modelo ($) las asignamos al DTO que se devuelve (*) -->
                                <input  type        =   "hidden"              
                                        th:unless   =   "${nuevo}"
                                        th:value    =   "${idjuez}"
                                        th:field    =   "*{idjuez}"
                                        id          =   "idjuez"
                                        name        =   "idjuez"/>
                                <input  type        =   "hidden"
                                        th:unless   =   "${nuevo}"
                                        th:value    =   "${correoAnterior}"
                                        id          =   "correoViejo"
                                        name        =   "correoViejo"/>
                            </div>

                            <!-- 2nda fila de la forma -->
                            <div class="form-group row">
                                <!-- Apellido paterno -->
                                <div class="col-sm-6">
                                    <label for="ingresaPaterno">Apellido paterno:</label>
                                    <input type="text" class="form-control" th:field="*{apellidop}" id="ingresaPaterno"
                                            required minlength="2" maxlength="45">
                                </div>

                                <!--  Apellido materno -->
                                <div class="col-sm-6">
                                    <label for="ingresaMaterno">Apellido materno:</label>
                                    <input type="text" class="form-control" th:field="*{apellidom}" id="ingresaMaterno"
                                            required minlength="2" maxlength="45">
                                </div>
                            </div>

                            <!-- 5ta fila de la forma -->
                            <div class="form-group row">
                                <!-- Correo -->
                                <div class="col-sm-6">
                                    <label for="ingresaCorreo">Correo:</label>
                                    <input type="text" id="ingresaCorreo" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Correo inválido" 
                                            placeholder="ejemplo@correo.com" class="form-control" th:field="*{correoNuevo}"
                                            minlength="8" maxlength="128" required>
                                </div>

                                <!-- Contraseña -->
                                <div class="col-sm-6">
                                    <label for="ingresaPassword">Contraseña:</label>
                                    <input type="password" class="form-control" th:field="*{password}" id="ingresaPassword"
                                            minlength="8" maxlength="20" required>
                                </div>
                            </div>

                            <!-- Mensaje de error -->
                            <div th:if="${mensaje != null}" class="alert alert-dark text-center">
                                [[${mensaje}]]
                            </div>

                            <div class="text-center">
                                <input type="submit" value="Agregar" class="btn btn-primary m-3">
                                <input type="submit" value="Cancelar" class="btn btn-secondary" id="buttonCancel">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div th:insert="footer :: footer">  </div>
        </div>
        
    </body>

</html>