<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>[[${tituloPagina}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                // Botón para cancelar edición
                $("#buttonCancel").on("click", function(){
                    window.location = "[[@{/disciplinas}]]"
                });

                $('#file').change(function(){
                    showImageThumbnail(this);
                });
            });

            function showImageThumbnail(fileInput){
                file = fileInput.files[0];
                reader = new FileReader();
                reader.onload = function(e){
                    $('#thumbnail').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            }

        </script>
    <style>
        .holder {
          text-align: center;
          width: auto;
          display: inline-block;
        }

        .holder img {
          width: 50%;
          height: auto;
        }
    </style>
</head>

<body>

<!-- Barra navegación -->
<div th:insert="navbar :: navbar">  </div>
<!-- Contenido -->
    <div class="container-fluid">
    <div class="container py-3" style ="margin-top:3%;">
        <form action="#" style="margin: 0 auto"
              th:action="@{/disciplinas/guardar}" method="post"
              th:object="${disciplina}"
              enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-6 mx-auto">

                    <div class="form-group row">

                        <div class="col-md-12">
                            <label for="ingresaNombre">Nombre:</label>
                            <input type="text" class="form-control" th:field="*{nombre}" id="ingresaNombre"
                                   minlength="2" maxlength="45" required>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="ingresaResponsable">Responsable:</label>
                            <input type="text" class="form-control" th:field="*{responsable}" id="ingresaResponsable"
                                   required minlength="2" maxlength="45">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form-label">Seleccionar imagen:</label>
                            <input type="hidden" th:field="*{imagen}">
                            <input type="file" name = "file" id="file" accept="image/png, image/gif, image/jpeg" class="form-control" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <div th:if="${mensaje != null}" class="alert alert-dark text-center">
                                [[${mensaje}]]
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 mx-auto">

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="descripcion">Descripción:</label>
                            <textarea class="form-control" th:field="*{descripcion}" id="descripcion" rows="5"></textarea>
                        </div>
                        <input type="hidden" th:field="*{iddisciplina}">
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 holder">
                            <img id = "thumbnail" alt = "Preview logo"/>
                        </div>
                    </div>

                </div>

            </div>

            <div class="text-center">
                <input type="submit" value="Aceptar" class="btn btn-primary">
                <input value="Cancelar" id="buttonCancel" class="btn btn-danger">
            </div>

        </form>
    </div>

    </div>

</body>
<!-- Footer -->
<div th:insert="footer :: footer">  </div>
</html>